.header{
	background-color:black;
	 width: 100%;
  height: 90px;
  border-style: outset;
  }
   

.head{
	color:white;
     margin-left: 40%;
     margin-top: 0px;
	 font-style: italic;
	 font-size: 80px;
	 text-shadow: 4px 3px red;
}
.head2{
	
	color:black;
     margin-left: 40%;
     margin-top: 0px;
	 font-style: bold;
	 font-size: 50px;
	 text-shadow: 3px 2px red;

}
.header2{
	background-color:white;
	 width: 100%;
  height: 70px;
  border-style: outset;
  }
  .header3{
   width: 100%;
  height: 80px;
  border-style: outset;
  box-shadow: 10px 10px;
}
