.first{
	 
	 margin-top:10px;
}

.second{
	top:100px;
	position: absolute;
	box-sizing: border-box;

}
.mid{
 
 color:red;
 border-style: outset;
 width:103%;
	//width:123%;
	height:910px;
	 margin-left:410px;
	 border: 1px solid grey;
	  box-sizing: border-box;	
}

.third{
	
	top:100px;
	position:absolute;
}
.box7{
	border-style: outset;
	width:40%;
	height:300px;
    margin-left:935px;
    top:0px;
}
.box8{
	border-style: outset;
	width:40%;
	height:300px;
	 margin-left:935px;
}
.box9{
border-style: outset;
	width:40%;
	height:300px;
	 margin-left:935px;
	
}
.box1{
	border-style: outset;
	width:40%;
	height:300px;
    margin-left:0px;
    margin-:0px;
    top:0px;
}
.box2{
	border-style: outset;
	width:40%;
	height:300px;
	 margin-left:0px;
}
.box3{
border-style: outset;
	width:40%;
	height:300px;
	 margin-left:0px;
	
}

