


<video autoplay="" width="100%" name="media" loop="">
    <source src="http://www.feedmusic.com/videos/intro.mp4" type="video/mp4">
</video>
<div class="first">
	<div>   <div class="box1">Box1</div>
	   <div class="box2">Box2</div>
	   <div class="box3">Box3</div>
</div>

	   <div class='second' class='mid'>boxmid</div>
</div>
<div class="third"> 
	   <div class="box7">Box7</div>
	   <div class="box8">Box8</div>
	   <div class="box9">Box9</div></div>
	
		


