

	

<div class='wrap' (mouseenter)='toggle()'>
<video autoplay="" width="100%" name="media" loop=" "  id="video-bg-elem">
    <source src="http://www.feedmusic.com/videos/intro.mp4" type="video/mp4">
</video>
</div>
<div (mouseenter)='toggle()'>
<div class="content">
	
<ul>
  <li class="de">Home</li>
  <li  class="de">News</li>
  <li  class="de">Contact</li>
  <li  class="de">About</li>
</ul>
<div class="lines" >
	<p  [@start]="touch? 'open':'closed'">
	<b class="para">and when you CAN'T GO BACK, you </b><br>
	<b class="para1">have  to only WORRY ABOUT the </b><br>
	<b  class="para2">best way of MOVING FORWARD</b>
    </p>

</div> 

</div>
</div>

 <div><p class="left"  [@second]="touch? 'open':'closed'" >
 	“Tell your heart that the fear of suffering<br> is worse than the suffering itself.<br> And that no heart has ever suffered when <br>it goes in search of its dreams,<br> because every second of the search <br>is a second's encounter with God and<br> with eternity.” 
 </p>
 	
 </div>
