.wrap{
    border-style: none;
	position:fixed;
	z-index:-1000;
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.9;
}

.content{
border-style: none;
width:100%;
	 padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 300px;
  color:white;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
.de{
	  font-size: 1.875em; 
	   padding: 15px 30px;
}
.de:hover{
	  font-size: 2em; 
	   padding: 15px 30px;
	    //text-decoration: line-through red;
	   text-decoration: underline red;
	    transform: translateX(50px);
	    
}
.para{
       padding-left: 30px;
        padding-top: 100px;
        font-size: 2.3em;
        word-spacing: 0.5em;
        color:white;
        padding-bottom: 0px;
         line-height: 1.5; 
 }
 .para1{
       padding-left: 55px;
        padding-top: 0px;
        font-size: 2.3em;
        word-spacing: 0.5em;
        color:white; 
         line-height: 1.5;
 }

 .para2{
       padding-left: 65px;
        padding-top: 0px;
        font-size: 2.3em;
        word-spacing: 0.5em;
        color:white;
         line-height: 1.5; 
 }
 .lines{
       line-height: 2;
       padding-top: 100px;

 }
 .left{
      padding-left: 5px;
      color:white;
 }
 
 



