
<router-outlet></router-outlet>
<a routerLink = '/first-page' routerLinkActive='active'>First-page</a><br>
<a routerLink = '/container'routerLinkActive='active'>Second-page</a><br>
<a routerLink = '/easy'routerLinkActive='active'>Third-page</a>
<a routerLink = '/input'routerLinkActive='active'>Input</a>



