.first{
	background-color:#2F4F4F;
	height:100vh;
	width:100%
}
.logo{

	margin-top:90px;
transform: rotateY(180deg);
 // background-color:black;
	color:white;
    text-align : center;
     margin-top: 0px;
	 font-style: italic;
	 font-size: 80px;
	 text-shadow: 4px 3px red;
	 transform-style: preserve-3d;
	  transition-duration: 11000ms;
  transition-timing-function: ease-in-out;
  text-orientation: initial;
   transform: scale(1.5);
}
.logo1{
	margin-top:90px;
//transform: rotateY(180deg);
 // background-color:black;
	color:white;
    text-align : center;
     margin-top: 0px;
	 font-style: italic;
	 font-size: 80px;
	 text-shadow: 4px 3px red;
	 transform-style: preserve-3d;
	 // transition-duration: 1100ms;
 // transition-timing-function: ease-in-out;
  text-orientation: initial;
  // transform: scale(1.5);
}



