.tiles{
  margin-left:25%;
  padding-top:20%;
  padding-left:30%;
  padding-right:30%;
  padding-bottom:10%;
  width:50%;
  height:4px;
  background-color:#C0C0C0;
  opacity:0.7;
   box-sizing: border-box;
}




.text{
  padding-left:40%;
  padding-top:20%;
 // display: inline;
   float: left;
 // width: 33.33%;
  padding: 5px;

}

.data{
  //color:red;
  text-align: left;
}
.data:hover{
   text-align: left;
   text-decoration: line-through white;
}

.all{
   padding-left: 45%;
}
.ret{
     padding-top: 20px;
	 width:100%;
	 height:50px;
	 border-style: hidden;
	// text-align:center;
	 background-color:#E6E6FA;
//position: fixed;

}
.wrap{
    border-style: none;
  position:fixed;
  z-index:-1000;
  overflow:hidden;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.9;
}


.easy{
     background-position: right top;
	width:4%;
	background-color:#C0C0C0;
	height:540px;
	border-style: hidden;
	-webkit-transition-property: width; 
  -webkit-transition-duration: 5s; 
  transition-property: width;
  transition-duration: 0.5s;
  text-align:center;
}
.easy:hover{
	width:15%;
	background-color:black;
	 font-style: bold;
}

#div1 {-webkit-transition-timing-function: linear;
     text-align:center;
      height:80px;
      color:red;
      border-style: hidden;
      padding-top: 20px;
}
#div2 {-webkit-transition-timing-function:linear;
text-align:center;
      height:80px;
      color:red;
      border-style: hidden;
      padding-top: 20px;
      }
#div3 {-webkit-transition-timing-function: linear;
text-align:center;
padding-top: 20px;
      height:80px;
      color:red;
      border-style: hidden;
      }
#div4 {-webkit-transition-timing-function: linear;
text-align:center;
padding-top: 20px;
      height:80px;
      color:red;
      border-style: hidden;
      }
#div5 {-webkit-transition-timing-function: linear;
text-align:center;
  border-style: hidden; 
  padding-top: 20px;  
      height:80px;
      color:red;
      }


#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: linear;}
#div3 {transition-timing-function: linear;}
#div4 {transition-timing-function: linear;}
#div5 {transition-timing-function: linear;}

* {
  box-sizing: border-box;
}
.column:hover {
  float: left;
  width: 33.33%;
  padding: 5px;
  opacity:0.7;
  transform: translateY(5px);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  position:absolute;
}
.trum{
  position: absolute;
  top: 60px;
  margin-left:25%;
  font-size: 15px;
  background-color:#808080;
  opacity:1;

}