
<div>
<div class="wrap">
<video autoplay="" width="100%" name="media" loop=" "  id="video-bg-elem">
    <source src="https://ak1.picdn.net/shutterstock/videos/27565801/preview/stock-footage-red-powder-exploding-on-white-background-in-super-slow-motion-shot-with-phantom-flex-k.webm" type="video/mp4">
</video>
</div>


<div class="ret">
	<b (click)='pressbutton()' class="data">Click</b>
	<b  class="all">All</b></div>


<div    *ngIf="press" class="rows" >


<div id="div1" class="easy"><b>data1</b></div>
<div id="div2" class="easy"><b>data2</b></div>
<div id="div3" class="easy"><b>data3</b></div>
<div id="div4" class="easy"><b>data4</b></div>
<div id="div5" class="easy"><b>data5</b></div>
  
</div>
<div>
  <div [class.tiles]='onTiles' *ngIf = "onTiles">

    <div><ul><li *ngFor='let i of tiles'>{{i }}</li></ul>
      <button type="button" class="trum" (click)="buttonClick()">Close</button></div>   
      </div>
</div>
<div>
<div class="row" >

  <div class="column"  (click)="tile1Clicked()">
    <img src="http://freshwallpapers.net/download/6860/2560x1600/download/3d-background.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column" (click)="tile1Clicked()">
    <img src="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/bo_8835w-thumb-400xauto-901.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column" (click)="tile1Clicked()">
    <img src="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/bo_9022w-thumb-400xauto-895.jpg" alt="Mountains" style="width:100%">
  </div>

</div>
</div>

<div>
<div class="row">
  <div class="column" (click)="tile1Clicked()">
    <img src="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/bo_9205w-thumb-400xauto-889.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column" (click)="tile1Clicked()">
    <img src="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/imp_1085w-thumb-400xauto-835.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column" (click)="tile1Clicked()">
    <img src="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/bo_8569w-thumb-400xauto-883.jpg" alt="Mountains" style="width:100%">
  </div>

</div>
</div>
<div>
<div class="row">
  <div class="column">
    <img src="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/bo_8487w-thumb-400xauto-871.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/IMG_0009_2w-thumb-400xauto-841.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/imp_1053w-thumb-400xauto-822.jpg" alt="Mountains" style="width:100%">
  </div>

</div>
</div>


</div>


